<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MacChanger.VerboseDiagnostics" value="false" />
        <add key="MacChanger.OuiCachePath" value="" />
        <add key="MacChanger.OuiEndpoint" value="https://standards-oui.ieee.org/oui/oui.txt" />
        <add key="MacChanger.OuiDownloadTimeoutSeconds" value="15" />
        <add key="MacChanger.OuiDownloadRetryCount" value="3" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>